.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}
.dialogsItems {
	padding: 10px;
}
.dialogsItems .active {
	color: #be185d;
}
.dialog a {
	color: #707070;
	text-decoration: none;
}
.messages {
	padding: 10px;
}
